@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html,
css {
    touch-action: none;
}

h1 {
    text-align: center;
}

body {
    background-color: #b8c6db;
}

form {
    text-align: center;
}

#image img {
    text-align: center;
   width: 100%;
   margin-top: 30px;
}